/***************************
****************************
Intro text's Styles
****************************
***************************/

.typewriter-content {
    height: 100%;
}

.typewriter {
    color: $green;
    font-family: $matrix;
    font-weight: bold;
    font-size: 2em;
    text-shadow: -1px 0 $greenDark, 0 1px $greenDark, 1px 0 $greenDark, 0 -1px $greenDark;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $green; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 10em 0 0 2em; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(20, end),
    blink-caret .6s step-end infinite;
    width: fit-content;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

.typewriter-content input,
.typewriter-content input:focus,
.typewriter-content input:hover,
.typewriter-content input:checked {
    background-color: transparent;
    border: none;
    color: transparent;text-shadow: 0 0 0 white;;
    text-transform: uppercase;
    text-align: right;
    max-width: 1em;
    padding-right: 0.3em;
    outline:0;
}

#name-1,
#name-1:focus,
#name-1:hover,
#name-1:checked,
#name-2,
#name-2:focus,
#name-2:hover,
#name-2:checked {
    max-width: 5em;
}

#side-chooser-container {
    position: fixed;
    height: 100%;
    width: 100%;
}
#q {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}
.player-chooser  {
    position: fixed;
    top: 35%;
    width: 1.5em;
    height: 6em;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 6em;
    padding: 1em;
}
#button-red {
    transform: rotate(45deg);
    right: 25%;
    opacity: 1;
    animation : example-red 5000s infinite;
    -webkit-animation: example-red 10s 1;
    background-color: rgb(138, 45, 45);
    /* 
    -webkit-animation-name: example-red;
    -webkit-animation-duration: 4s */
}
#button-blue {
    background-color: rgb(73, 73, 155);
    transform: rotate(125deg);
    left: 25%;
}

@keyframes example-red {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes example-blue {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.hands {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: url('../img/hands.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
    filter: blur(2px);
    transform: scale(1.1);

}


#side-chooser-container {
    a {
        display: block;
        position: fixed;
        background-color: transparent;
        height: 100vh;
        width: 50%;
    }
    #red {
        left: 0;
    }
    #blue {
        right: 0;
        background-color: transparent;
    } 
}

.playground {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    tr {
        display: flex;
        td {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid rgb(112, 126, 94);
            cursor: pointer;

            &.red {
                background-color: firebrick;
            }
            &.blue {
                background-color: cadetblue;
            }
        }
    }

}

.info-window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .info {
        color: white;
        font-size: 2em;
        background-color: red;
    }
}